*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(90deg, yellow, white);
}

.cardbody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40%;
    background-color: aliceblue;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
   
}

.card h1{
    text-align: center;
    font-size: 70px;
}

.cardend button{

    height: 30px;
    width: 100px;
    margin: 10px 10px;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.b1{
    background-color:yellow;
}

.b1:hover{
    background-color:#C49102;
}

.b2{
    background-color: darksalmon;
}


.b2:hover{
    background-color:red;
}

.b3{
    background-color: springgreen;
}

.b3:hover{
    background-color:yellowgreen
}
